{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "react",
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
  },
  "globals": {
    "document": false
  }
}